<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="SettingString" value="Geguze"/>
		<add key="SettingInt" value="545"/>
		<add key="SettingFloat" value="3.14"/>
		<add key="SettingTimeSpan" value="00:00:01"/>
	</appSettings>
</configuration>
